/* Add a black background color to the top navigation */
.topnav {
    background-color: #0057a8;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0057a8;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0057a8;
    color: white;
    text-align: center;
  }

  .logo-image{
    width: 46px;
    height: 46px;
    overflow: show;
    margin-top: -6px;
}

.form {
  text-align: center;
}